<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link type="text/css" rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
    <script type="text/javascript" src="../assets/script.js" defer></script>
</head>

<body>
    <div class="dashboard-container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <img src="../assets/images/logo_2_orange.png" alt="HestiaCare Logo" class="logo">
            </div>
            <nav class="menu">
                <a href="#" class="menu-item active">Dashboard</a>
                <a href="#" class="menu-item">Profile</a>
            </nav>
            <div class="logout">
                <button>Logout</button>
            </div>
        </aside>

        <!-- Main content -->
        <main class="main-content">
            <header class="topbar">
                <input type="text" placeholder="Search ingredients" class="search-bar">
                <button class="filter-btn">Filter ⌄</button>
            </header>

            <section class="cards">
                <div class="card">
                    <img src="../assets/images/orange.jpg" alt="Orange">
                    <h3>Orange</h3>
                    <p>L’orange un fruit riche en vitamine C et en fibre.</p>
                    <span class="tag">Vitamine C</span>
                </div>
            </section>
        </main>
    </div>
</body>

</html>